<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title inertia>
      Etamcode
    </title>
    <script>
      (function() {
        const theme = localStorage.getItem('theme') || 'light'; // Default to light theme if none is set
        document.documentElement.setAttribute('data-theme', theme);
      })();
    </script>

    @vite(['inertia/app/app.ts', `inertia/pages/${page.component}.vue`])
    @inertiaHead()
  </head>
  <body>
    @inertia()
  </body>
</html>
